/*---------------------------Import Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Hind&family=Raleway&display=swap');

/*---------------------------Fonts & Text*/

body,
html {
    font-family: 'Hind', sans-serif;
    text-align: center;
    height: 100%;
    position: relative;
}


p {
    font-family: 'Raleway', sans-serif;
}

/*---------------------------Navbar Section*/


/*---------------------------Footer Section*/

#footer {
    background-color: black;
    color: white;
    text-align: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
}

/*---------------------------Home Page*/

.carousel {
    padding-top: 30px;
    padding-bottom: 30px;
}

.jumbotron {
    background-color: #ffffff;
}

/*---------------------------Concert Page*/

.intro-text {
    padding-top: 100px;
}

.search-buttons {
    margin-top: 10px;
}

.flash-add {
    display: none;
}

.details {
    text-transform: capitalize;
}

.image-item {
    height: 25em;
    max-width: 100%;
    padding: 5px;
}

.image-attribution:link {
    padding-left: 6px;
    text-decoration: none;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.flash-message {
    color: red;
}

/*---------------------------Add Concert Page*/

.header-color {
    color: #ffffff;
}

.concert-image {
    background-image: url("../images/crowd2000.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.add-concert-form {
    opacity: 0.9;
    text-align: center;
}

textarea {
    resize: none;
    text-align: justify;
}

input[type=text],
input[type=password],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: solid blue 2px;
    resize: none;
    text-align: justify;
}

/*---------------------------Edit Concert Page*/

.edit-image {
    background-image: url("../images/tropical2000.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*---------------------------Register Page*/

.register-image {
    background-image: url("../images/jimreid2000.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.register-text {
    padding-top: 100px;
}

.form-details {
    padding-top: 100px;
    padding-bottom: 450px;
}

#username {
    width: 50%;
}

#password {
    width: 50%;
}

.fas {
    color: #ffffff;
    font-size: 40px;
    padding: 10px;
    margin: 5px;
    display: inline;
}

.login-text {
    color: #ffffff;
    text-decoration: none;
}

/*---------------------------Login Page*/

.login-image {
    background-image: url("../images/login2000.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*---------------------------Media Queries*/

@media (max-width: 575.99px) {

    .image-item {
        height: 15em;
        padding: 0px;
    }

    .fas {
        display: block;
    }
}



@media screen and (min-width: 576px) and (max-width: 767px) {

    .image-item {
        height: 15em;
        padding: 0px;
    }

    .concert-image {
        background-image: url("../images/crowd800.jpg");
        height: 100%;
    }

    .edit-image {
        background-image: url("../images/tropical800.jpg");
        height: 100%;
    }

    .register-image {
        background-image: url("../images/jimreid800.jpg");
        height: 100%;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .image-item {
        height: 20em;
        padding: 0px;
    }

    .concert-image {
        background-image: url("../images/crowd1200.jpg");
        height: 100%;
    }

    .edit-image {
        background-image: url("../images/tropical1200.jpg");
        height: 100%;
    }

    .register-image {
        background-image: url("../images/jimreid1200.jpg");
        height: 100%;
    }

}

@media screen and (min-width: 1200px) {

    .concert-image {
        background-image: url("../images/crowd2000.jpg");
        height: 100%;
    }

    .edit-image {
        background-image: url("../images/tropical2000.jpg");
        height: 100%;
    }

    .register-image {
        background-image: url("../images/jimreid2000.jpg");
        height: 100%;
    }

}