/*---------------------------Import Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Hind&family=Raleway&display=swap');

/*---------------------------Fonts & Text*/

body {
    font-family: 'Hind', sans-serif;
    text-align: center;
}


p {
    font-family: 'Raleway', sans-serif;
}

/*---------------------------Footer Section*/

#footer {
    background-color: black;
    color: white;
    text-align: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
}

/*---------------------------Home Page*/

.carousel {
    padding-top: 30px;
    padding-bottom: 30px;
}

.jumbotron {
    background-color: #ffffff;
}

/*---------------------------Concert Page*/

.search-buttons {
    margin-top: 10px;
}

.concert-header {
    padding-top: 20px;
}

.details {
    text-transform: capitalize;
}

.image-item {
    height: 25em;
    max-width: 100%;
    padding: 5px;
}

.image-attribution:link {
    padding-left: 6px;
    text-decoration: none;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

/*---------------------------Media Queries*/

@media (max-width: 575.98px) {
    .image-item {
        height: 15em;
        padding: 0px;
    }
}