{% extends 'base.html' %}
{% block content %}


<!--Edit Concert Memories Section-->

    <section>
        <div class="container-fluid edit-image">
            <h2 class="text-center intro-text header-color">Edit Concert Memory</h2>
            <br/>
            <form method="POST" action="{{ url_for('edit_concert', artist_id=artist._id) }}" class="add-concert-form">
                <div class="col-sm-8 offset-sm-2 text-center">
                    <i class="fas fa-user"></i>
                    <input type="text" class="form-width" name="artist" id="artist"
                    placeholder="Artist" value="{{ artist.artist }}" required>
                </div>
                <div class="col-sm-8 offset-sm-2 text-center">
                    <i class="fas fa-globe-europe"></i>
                    <input type="text" class="form-width" name="city" id="city"
                    placeholder="City" value="{{ artist.city }}" required >
                </div>
                <div class="col-sm-8 offset-sm-2 text-center">
                    <i class="fas fa-warehouse"></i>
                    <input type="text" class="form-width" name="venue" id="venue"
                    placeholder="Venue" value="{{ artist.venue }}" required>
                </div>
                <div class="col-sm-8 offset-sm-2 text-center">
                    <i class="fas fa-calendar-day"></i>
                    <input type="text" class="form-width" name="date" id="date"
                    placeholder="Date" value="{{ artist.date }}" required>
                </div>
                <div class="col-sm-8 offset-sm-2 text-center">
                    <i class="fas fa-record-vinyl"></i>
                    <input type="text" class="form-width" name="album_tour" id="album_tour"
                    placeholder="Album Tour" value="{{ artist.album_tour }}" required>
                </div>
                <div class="col-sm-8 offset-sm-2 text-center">
                    <i class="fas fa-list"></i>
                    <textarea class="form-width" aria-label="With textarea" rows="8" maxlength="400" 
                    name="set_list" id="set_list">{{ artist.set_list }}
                    </textarea>
                </div>
                <div class="col-sm-8 offset-sm-2 text-center">
                    <i class="fas fa-image"></i>
                    <input type="text" class="form-width" name="image" id="image"
                    placeholder="Image Link (Please Use Creative Commons Image)"
                    value="{{ artist.image }}" required>
                </div>
                <div class="col-sm-8 offset-sm-2 text-center">
                    <i class="fas fa-camera"></i>
                    <input type="text" class="form-width" name="image_attribution" id="image_attribution"
                    placeholder="Image Attribution Link (Please Use Creative Commons Image)"
                    value="{{ artist.image_attribution }}" required>
                </div>
                <div class="col-sm-8 offset-sm-2 text-center">
                    <i class="fas fa-music"></i>
                    <input type="text" class="form-width" name="genres" id="genres"
                    placeholder="Genres" value="{{ artist.genres }}" required>
                </div>
                <div class="col-sm-8 offset-sm-2 text-center">
                    <i class="fab fa-spotify"></i>
                    <input type="text" class="form-width" name="spotify_listeners" id="spotify_listeners"
                    placeholder="Spotify Listeners" value="{{ artist.spotify_listeners }}" required>
                </div>
                <div class="col-sm-8 offset-sm-2 text-center">
                    <i class="fab fa-facebook-f"></i>
                    <input type="text" class="form-width" name="facebook_url" id="facebook_url"
                    placeholder="Artist Facebook" value="{{ artist.facebook_url }}" required>
                </div>
                <div class="col-sm-8 offset-sm-2 text-center">
                    <i class="fab fa-instagram"></i>
                    <input type="text" class="form-width" name="instagram_url" id="instagram_url"
                    placeholder="Artist Instagram" value="{{ artist.instagram_url }}" required>
                </div>
                <div class="col-sm-8 offset-sm-2 text-center">
                    <i class="fab fa-spotify"></i>
                    <input type="text" class="form-width" name="spotify_url" id="spotify_url"
                    placeholder="Artist Spotify" value="{{ artist.spotify_url }}" required>
                </div>
                <div class="col-sm-8 offset-sm-2 text-center">
                    <i class="fab fa-twitter"></i>
                    <input type="text" class="form-width" name="twitter_url" id="twitter_url"
                    placeholder="Artist Twitter" value="{{ artist.twitter_url }}" required>
                </div>
                <br/>
                <div class="form-group row text-center">
                    <div class="col-sm-12">
                        <a href="{{ url_for('concert_list') }}" class="btn btn-danger">Cancel</a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <br/>
            </form>
        </div>
    </section>

<!--End of Edit Concert Memories Section-->

<!--Modal Popup Section-->

    <section>
        <div class="modal text-center" id="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Please ensure that any image links you submit are either your own or a 
                            <a href="https://search.creativecommons.org/" target="_blank">Creative Commons Image</a>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--End of Modal Popup Section-->

{% endblock %}